@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap'); */

/* * {
    font-family: Ubuntu;
} */

body {
  font-family: "Raleway", sans-serif;
}

* {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-zinc-900;
  }
}

body {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
body::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}


/* Put banner here, if you dont like the solid color */

.bg-banner {
  background-size: cover;
  background-position: center;
  background-image: url(/banner.gif);
}

#snackbar {
  visibility: hidden;
  /* min-width: 250px; */
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {top: -30px; opacity: 0;} 
  to {top: 20px; opacity: 1;}
}

@keyframes fadein {
  from {top: -30px; opacity: 0;}
  to {top: 20px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 20px; opacity: 1;} 
  to {top: -30px; opacity: 0;}
}

@keyframes fadeout {
  from {top: 20px; opacity: 1;}
  to {top: -30px; opacity: 0;}
}

/* Untuk browser yang mendukung scrollbar-width */
/* Membuat scrollbar lebih tipis */
::-webkit-scrollbar {
  width: 8px; /* Atur lebar scrollbar */
}

/* Warna scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #383434; /* Warna scrollbar */
  border-radius: 4px; /* Atur radius sudut scrollbar */
}

/* Hover Animation for Links */
a:hover {
  color: #ff6347; /* Change color on hover */
  transition: color 0.3s ease-in-out;
}

/* Typing Animation for Title */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}

.typing-animation {
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid black;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end 8, remove-caret 0s 3.5s forwards; /* New animation to remove caret */;
}

@keyframes remove-caret {
  to {
    border-right: none;
  }
}

/* Special class for banner without caret */
.no-caret-typing-animation {
  border-right: none;
  animation: typing 3.5s steps(40, end);
}

/* Hover Animation for Buttons */
button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

/* Fade-in Animation for Elements */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 4s ease-in-out;
}

.bio-fade-in {
  animation: fadeIn 5s ease-in-out;
}

.transition-transform {
  transition: transform 0.2s ease-in-out;
}

/* Untuk browser yang tidak mendukung scrollbar-width */
/* Membuat scrollbar lebih tipis */
body {
  scrollbar-width: thin;
}